<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>后台管理_项目列表</title>
<link rel="stylesheet" type="text/css" href="../static/admin/css/common.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/main.css" />
</head>
<body>

    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i><a href="admin_sysinfo">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">项目列表</span>
        </div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="#" method="post">
                <table class="search-tab">
                    <tr>
                        <th width="120">选择分类:</th>
                        <td><select name="search-sort" id="">
                                <option value="">全部</option>
                                <option value="1">？</option>
                                <option value="2">？？推荐界面</option>
                        </select></td>
                        <th width="70">关键字:</th>
<!--                         <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td> -->
<!--                         <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td> -->
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post">
            <div class="result-title">
                <div class="result-list">
                    <!--                         <a href="insert.html"><i class="icon-font"></i>新增作品</a> -->
                    <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a> <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>批量导出</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <!--<th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th> -->
                        <th class="tc"></th>
                        <th>ID</th>
<!--                         <th>填写时间</th> -->
                        <th>项目名称</th>
                        <th>合同编号</th>
                        <th>供应商名称</th>
                        <th>客户名称</th>
                        <th>项目起始年份</th>
                        <th>金额</th>
                        <th>状态</th>
                        <th>涉及能力</th>
                        <th>行业bg</th>
                        <th>方案经理名字</th>
                        <th>方案经理评分</th>
                        <th>客户经理名字</th>
                        <th>交付经理名字</th>
                        <th>客户经理评分</th>
                        <th>交付经理评分</th>
                    </tr>
                    <tr th:each="entry:${entry_list}">
                        <td class="tc"><input type="checkbox" name="entryId" th:value="${entry.id}" /></td>
                        <td th:text="${entry.id}">ID</td>
<!--                         <td th:text="${entry.time}">填写时间</td> -->
                        <td th:text="${entry.name}">项目名称</td>
                        <td th:text="${entry.contractnumber}">合同编号</td>
                        <td th:text="${entry.supplier}">供应商名称</td>
                        <td th:text="${entry.client}">客户名称</td>
                        <td th:text="${entry.start}">项目起始年份</td>
                        <td th:text="${entry.total}">金额</td>
                        <td th:switch="${entry.state}">
                            <p th:case="0">在途</p>
                            <p th:case="1">结束</p>
                            <p th:case="2">中止</p>
                        </td>
                        <!--<th th:text="${entry.state}">状态</th>-->
                        <td th:text="${entry.ability}">涉及能力</td>
                        <td th:switch="${entry.bg}">
                            <p th:case="0">数字政府</p>
                            <p th:case="1">大企业</p>
                            <p th:case="2">智慧城市</p>
                            <p th:case="3">金融</p>
                            <p th:case="4">互联网</p>
                            <p th:case="5">教育</p>
                            <p th:case="6">卫健</p>
                        </td>
                        <td th:text="${entry.pmname}">方案经理名字</td>
                        <td th:text="${entry.score}">方案经理评分</td>
                        <td th:text="${entry.cmname}">客户经理名字</td>
                        <td th:text="${entry.dmname}">交付经理名字</td>
                        <!--客户经理评分 -->
                        <td th:if="${entry.cmid} eq null">未评分</td>
                        <td th:if="${entry.cmid}">
                            <a target="_blank" th:href="@{'/CMEntryDatil?id='+${entry.cmid}}" title="查看评分详情"> 
                            <span th:text="${entry.cmtotal}"></span>
                            </a>
                        </td>
                        <!--交付经理评分 -->
                        <td th:if="${entry.dmid} eq null">未评分</td>
                        <td th:if="${entry.dmid}">
                            <a target="_blank" href="#" title="查看评分详情"> <span th:text="${entry.dmtotal}"></span>
                            </a>
                        </td>
                    </tr>

                    <!--                             <tr> -->
                    <!--                                 <td class="tc"><input name="id[]" value="59" type="checkbox"></td> -->
                    <!--                                 <td><input name="ids[]" value="59" type="hidden"> <input class="common-input sort-input" name="ord[]" value="0" type="text"></td> -->
                    <!--                                 <td>59</td> -->
                    <!--                                 <td title="演示1"><a target="_blank" href="#" title="发哥经典">发哥经典</a> …</td> -->
                    <!--                                 <td>0</td> -->
                    <!--                                 <td>2</td> -->
                    <!--                                 <td>admin</td> -->
                    <!--                                 <td>2014-03-15 21:11:01</td> -->
                    <!--                                 <td></td> -->
                    <!--                                 <td><a class="link-update" href="#">修改</a> <a class="link-del" href="#">删除</a></td> -->
                    <!--                             </tr> -->
                    <!--                             <tr> -->
                    <!--                                 <td class="tc"><input name="id[]" value="58" type="checkbox"></td> -->
                    <!--                                 <td><input name="ids[]" value="58" type="hidden"> <input class="common-input sort-input" name="ord[]" value="0" type="text"></td> -->
                    <!--                                 <td>58</td> -->
                    <!--                                 <td title="演示2"><a target="_blank" href="#" title="黑色经典">黑色经典</a> …</td> -->
                    <!--                                 <td>0</td> -->
                    <!--                                 <td>35</td> -->
                    <!--                                 <td>admin</td> -->
                    <!--                                 <td>2013-12-30 22:34:00</td> -->
                    <!--                                 <td></td> -->
                    <!--                                 <td><a class="link-update" href="#">修改</a> <a class="link-del" href="#">删除</a></td> -->
                    <!--                             </tr> -->
                </table>
                <div class="list-page">-.-</div>
            </div>
        </form>
    </div>

</body>
</html>