<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>交付经理评价表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/fontawesome-all.css">
	<link rel="stylesheet" href="../static/css/style8.css">
	<link rel="stylesheet" type="text/css" href="../static/css/switch1.css">
	<!-- Color Alternatives -->
	<link href="../static/css/color-21.css" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="../static/css/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="../static/css/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="../static/css/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
</head>

<body>


	<div class="clearfix"></div>

	<div class="wrapper clearfix">
<!-- 		<div class="wizard-part-title"> -->
<!-- 			<h3> Upgrade your Account</h3> -->
<!-- 		</div> -->
		<!--multisteps-form-->
		<div class="multisteps-form">
			<!--form panels-->
			<div class="row">
				<div class="col-12 col-lg-12 m-auto">
					<form class="multisteps-form__form clearfix" action="#" method="post" id="wizard">
						
						<!--single form panel-->
						<div class="multisteps-form__panel js-active" data-animation="slideVert">
							<div class="inner pb-100">
								<div class="wizard-topper">
								</div>
								<div class="wizard-content-item text-center">
									<h2>Applicant Data</h2>
									<p>Please take a salfie with your document so that it’s clearly
									visible anddoses not cover your face.</p>
								</div>
								<div class="wizard-content-form">
									<div class="wizard-form-field">
										<div class="wizard-form-input position-relative form-group has-float-label">
											<input type="text" name="name" class="form-control" placeholder="First and Last Name">
											<label>First and Last Name</label>
										</div>
										<div class="wizard-form-input position-relative form-group has-float-label">
											<input type="email" class="form-control" name="email" placeholder="Email Address">
											<label>Email Address</label>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<input type="text" class="form-control" name="phone" placeholder="Phone">
													<label>Phone</label>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<input type="text" class="form-control" name="education" placeholder="Education">
													<label>Education</label>
												</div>
											</div>
										</div>
										<div class="wizard-form-input position-relative form-group has-float-label">
											<i data-toggle="tooltip" data-placement="bottom" title="If you want your invoice address to a compnay. Leave blank to use full name" class="fa fa-info"></i>
											<input type="text" class="form-control" name="name" placeholder="Company Name">
											<label>Company Name</label>
										</div>
										<div class="wizard-form-input position-relative form-group has-float-label">
											<input type="text" class="form-control" name="name" placeholder="Address Line 1">
											<label>Address Line 1</label>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<input type="text" class="form-control" name="name" placeholder="City">
													<label>City</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<input type="text" class="form-control" name="name" placeholder="State/Province/Region">
													<label>State/Province/Region</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<input type="text" class="form-control" name="name" placeholder="Zip/Postal Code">
													<label>Zip/Postal Code</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-8">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<i data-toggle="tooltip" data-placement="bottom" title="If you want your invoice address to a compnay. Leave blank to use full name" class="fa fa-info"></i>
													<input type="text" class="form-control" name="name" placeholder="Company No.">

													<label>Company No.</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="wizard-form-input position-relative form-group has-float-label mt-0 n-select-option">
													<select id="country" name="country" class="form-control">
														<option value="">Country</option>
														<option value="Afghanistan">Afghanistan</option>
														
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="badge-selection">
										<h3>Show country on your profile and badges</h3>
										<label>
											<input type="radio" checked="checked" name="radio">
											<span class="checkmark">Yes</span>
										</label>
										<label>
											<input type="radio" name="radio">
											<span class="checkmark">No</span>
										</label>
									</div>
								</div>
								<div class="wizard-footer">
<!-- 									<div class="wizard-imgbg"> -->
<!-- 										<img src="../static/picture/v3.png" alt=""> -->
<!-- 									</div> -->
									<div class="actions">
										<ul>
											<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/popper.min1.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/switch.js"></script>
	<script src="../static/js/main4.js"></script>
	<script>
		$("#files").change(function() {
			filename = this.files[0].name
			console.log(filename);
		});
	</script>
</body>

</html>