<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>方案经理录入表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/fontawesome-all.css">
    <link rel="stylesheet" href="../static/css/style8.css">
	<link rel="stylesheet" type="text/css" href="../static/css/switch1.css">
	<!-- Color Alternatives -->
	<link href="../static/css/color-21.css" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="../static/css/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="../static/css/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="../static/css/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
</head>

<body>
	<div class="clearfix"></div>

	<div class="wrapper clearfix">
		<!--multisteps-form-->
		<div class="multisteps-form">
			<!--form panels-->
			<div class="row">
				<div class="col-12 col-lg-12 m-auto">
					<form class="multisteps-form__form clearfix" action="#" method="post" id="wizard">
						<!--single form panel-->
						<div class="multisteps-form__panel js-active" data-animation="slideVert">
							<div class="inner pb-100">
								<div class="wizard-content-item text-center">
									<h2>方案经理录入表</h2>
									<p>此表单仅管理员与填写人可浏览</p>
									<p style="color:#5756a2;font-style:normal;">中止的项目也要填写，中止的项目的合同编号和收入填0</p>
								</div>
								<div class="wizard-content-form">
									<div class="badge-selection">
										<h3>填写方式</h3>
										<label>
											<input type="radio" checked="checked" name="radio">
											<span class="checkmark">网页填写</span>
										</label>
										<label>
											<input type="radio" name="radio">
											<span class="checkmark">文件导入</span>
										</label>
									</div>
									<div class="wizard-form-field">
										<div class="wizard-form-input position-relative form-group has-float-label">
											<input type="text" name="name" class="form-control" placeholder="填写人姓名">
											<label>姓名</label>
										</div>
										<!-- 填写人单位 -->
										<div class="row">
											<div class="col-md-3">
												<div class="n-select-option has-float-label">
													<select name="unit1" id="unit1" onchange="changeUnit1(this.value)">
														<option>--请选择单位--</option>
													</select>
													<label>单位</label>
												</div>
											</div>
											<div class="col-md-3">
												<div class="n-select-option has-float-label">
													<select name="unit2" id="unit2" onchange="changeUnit2(this.value)">
													</select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="n-select-option has-float-label">
													<select name="unit3" id="unit3" onchange="changeUnit3(this.value)">
													</select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="n-select-option has-float-label">
													<select name="unit4" id="unit4" onchange="changeUnit4(this.value)">
													</select>
												</div>
											</div>
										</div>
										<div class="line"></div>
 										<!--项目状态 -->
 										<div class="badge-selection">
											<h3>项目状态</h3>
											<label>
												<input type="radio" checked="checked" name="radio" style="height:30px;width:30px;">
												<span class="checkmark">在途</span>
											</label>
											<label>
												<input type="radio" name="radio" style="height:30px;width:30px;">
												<span class="checkmark">结束</span>
											</label>
											<label>
												<input type="radio" name="radio" style="height:30px;width:30px;">
												<span class="checkmark">中止</span>
											</label>
										</div>
 										<div class="line"></div>
 										<!-- 涉及能力 -->
 										<div class="wizard-day-item">
											<span class="wizard-sub-text">涉及能力</span>
										</div>
 										<div class="identity-option">
											<ul>
												<li>
													<label>
														<input type="checkbox" class="identity-check">
														<span class="identity-label"></span>Investability Quotient Percentile
														<span class="checkmark-border"></span>
													</label>
												</li>
												<li>
													<label>
														<input type="checkbox" class="identity-check">
														<span class="identity-label"></span>Investability Quotient Percentile
														<span class="checkmark-border"></span>
													</label>
												</li>
												<li>
													<label>
														<input type="checkbox" class="identity-check">
														<span class="identity-label"></span>Investability Quotient Percentile
														<span class="checkmark-border"></span>
													</label>
												</li>
											</ul>
										</div>
 										
 										
										<div class="wizard-day-item">
											<span class="wizard-sub-text">综合实力（10分）</span>
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<div class="badge-selection">
													<span>信誉口碑：</span><br/>
													<span>企业信用口碑高：9-10分；</span><br/>
													<span>企业信用口碑良好：6-8分；</span><br/>
													<span>企业信用口碑一般：4-5分；</span><br/>
													<span>企业信用口碑差：0-3分</span><br/>
													<span></span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="badge-selection">
													<span>客情关系：</span><br/>
													<span>能及时获取客户有效信息：5分；</span><br/>
													<span>日常有固定对接人与客户关系良好：3-4分；</span><br/>
													<span>因本项目有沟通联系，且未有投诉：1-2分；</span><br/>
													<span>很少有接触或有投诉：0分；</span><br/>
													<span></span>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<i data-toggle="tooltip" data-placement="bottom" title="企业信用口碑高：9-10分；&#10;
													企业信用口碑良好：6-8分；&#13;企业信用口碑一般：4-5分；企业信用口碑差：0-3分" class="fa fa-info"></i> 
													<input type="text" class="form-control" name="credibility" placeholder="信誉口碑">
													<label>信誉口碑</label>
												</div>
											</div>
											<div class="col-md-6">
												<div class="wizard-form-input position-relative form-group has-float-label">
													<i data-toggle="tooltip" data-placement="bottom" title="能及时获取客户有效信息：5分；
													日常有固定对接人与客户关系良好：3-4分；因本项目有沟通联系，且未有投诉：1-2分；很少有接触或有投诉：0分" class="fa fa-info"></i> 
													<input type="text" class="form-control" name="customerrelat" placeholder="客情关系">
													<label>客情关系</label>
												</div>
											</div>
										</div>
										
										<div class="line"></div>
										<div class="wizard-day-item">
											<span class="wizard-sub-text">方案支撑（10分）</span>
										</div>
										
										<div class="wizard-form-input position-relative form-group has-float-label">
											<div class="badge-selection">
												<span>方案制作质量和响应及时性：</span><br/>
												<span>质量高响应快：9-10分;</span><br/>
												<span>质量良好响应及时：6-8分；</span><br/>
												<span>质量一般响应及时：4-5分;</span><br/>
												<span>质量不好响应不及时：0-3分</span><br/>
											</div>
										</div>
										<div class="wizard-form-input position-relative form-group has-float-label">
											<i data-toggle="tooltip" data-placement="bottom" title="质量高响应快：9-10分;
											质量良好响应及时：6-8分;质量一般响应及时：4-5分;质量不好响应不及时：0-3分" class="fa fa-info"></i>
											<input type="text" class="form-control" name="projectsupport" placeholder="方案制作质量和响应及时性">
											<label>方案制作质量和响应及时性</label>
										</div>
										
										<div class="line"></div>
										<div class="wizard-day-item">
											<span class="wizard-sub-text">人员素质（5分）</span>
										</div>
										
										<div class="wizard-form-input position-relative form-group has-float-label">
											<div class="badge-selection">
												<span>人员投入素质：</span><br/>
												<span>人员投入素质高：8-10分;</span><br/>
												<span>人员投入素质良好：6-7分;</span><br/>
												<span>人员投入素质一般：4-5分;</span><br/>
												<span>人员投入素质差：0-3分；</span><br/>
												<span></span>
											</div>
										</div>
										<div class="wizard-form-input position-relative form-group has-float-label">
											<i data-toggle="tooltip" data-placement="bottom" title="人员投入素质高：8-10分;
											人员投入素质良好：6-7分;人员投入素质一般：4-5分;人员投入素质差：0-3分" class="fa fa-info"></i>
											<input type="text" class="form-control" name="personnelquality" placeholder="人员投入素质">
											<label>人员投入素质</label>
										</div>
										
										
										

										<div class="wizard-footer">
<!-- 											<div class="wizard-imgbg"> -->
<!-- 												<img src="../static/picture/v3.png" alt=""> -->
<!-- 											</div> -->
											<div class="actions actions2">
												<ul>
													<li><button type="submit" id="submit-form" title="提交">提交 <i class="fa fa-arrow-right"></i></button></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>

	</div>
	
	<script type="text/javascript" src="../static/results.json" charset="utf-8"></script>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/popper.min1.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/switch.js"></script>
	<script src="../static/js/main4.js"></script>
	<script src="../static/js/cmgrading.js"></script>
<!-- 	用于级联下拉框 -->

<script>
window.onload = function(){
	console.log("onload!");
	var unit1 = document.getElementById("unit1");
	document.getElementById("unit2").disabled='disabled';
	document.getElementById("unit3").disabled='disabled';
	document.getElementById("unit4").disabled='disabled';
	unit1.options.length = 0;
	var option0 = document.createElement("option");
	option0.innerHTML = "--请选择单位--";
	option0.value = 'none';
	unit1.appendChild(option0);
	for(var i = 0; i < departments.length; i++){
		if(departments[i]['p_id'] == '0'){
			//创建option元素节点
			var option = document.createElement("option");
			//设置option元素节点的内容和value
			option.innerHTML = departments[i]['name'];
			option.value = departments[i]['id'];
			//将新创建的option节点添加到下拉框中
			unit1.appendChild(option);
		}
	}
}
function changeUnit1(val) {
	var unit2 = document.getElementById("unit2");
	unit2.options.length = 0;
	unit3.options.length = 0;
	unit4.options.length = 0;
	var mark = 0;
	document.getElementById("unit2").disabled='disabled';
	document.getElementById("unit3").disabled='disabled';
	document.getElementById("unit4").disabled='disabled';
	for(var i = 0; i < departments.length; i++){
		if(departments[i]['p_id'] == val){
			console.log(val);
			var option = document.createElement("option");
			option.innerHTML = departments[i]['name'];
			option.value = departments[i]['id'];
			unit2.appendChild(option);
			mark = 1;
		}
	}
	if(mark == 1){
		document.getElementById("unit2").disabled='';
	}
}
function changeUnit2(val) {
	document.getElementById("unit3").disabled='disabled';
	document.getElementById("unit4").disabled='disabled';
	var unit3 = document.getElementById("unit3");
	unit3.options.length = 0;
	unit4.options.length = 0;
	var mark = 0;
	for(var i = 0; i < departments.length; i++){
		if(departments[i]['p_id'] == val){
			console.log(val);
			var option = document.createElement("option");
			option.innerHTML = departments[i]['name'];
			option.value = departments[i]['id'];
			unit3.appendChild(option);
			mark = 1;
		}
	}
	if(mark == 1){
		document.getElementById("unit3").disabled='';
	}
}
function changeUnit3(val) {
	document.getElementById("unit4").disabled='disabled';
	var unit4 = document.getElementById("unit4");
	unit4.options.length = 0;
	var mark = 0;
	for(var i = 0; i < departments.length; i++){
		if(departments[i]['p_id'] == val){
			console.log(val);
			var option = document.createElement("option");
			option.innerHTML = departments[i]['name'];
			option.value = departments[i]['id'];
			unit4.appendChild(option);
			mark = 1;
		}
	}
	if(mark == 1){
		document.getElementById("unit4").disabled='';
	}
}
</script>

</body>

</html>