<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>提交成功</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/fontawesome-all.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<!-- Start of thank you section
		============================================= -->
		<section id="thank-you" class="thank-you-section">
			<div class="container">
				<div class="thank-you-wrapper position-relative thank-wrapper-style-one thank-wrapper-style-three">
					<!-- <div class="thank-you-close text-center">x</div> -->
					<div class="thank-txt text-center">
						<h1>感谢填写</h1>
						<div class="thank-icon">
							<img src="../static/picture/tht3.png" alt="">
						</div>
						<p>提交成功，如有疑问或修改请联系管理员</p>
						<a class="d-block text-center text-uppercase" href="#">返回</a>
					</div>
				</div>
			</div>
		</section>
 	<!-- End of thank you section
 		============================================= -->

 		<script src="../static/js/jquery-3.3.1.min.js"></script>
 		<script src="../static/js/bootstrap.min.js"></script>
 		<script src="https://jthemes.net/themes/html/wizard-form/thankyou/assets/js/main.js"></script>
 	</body>
 	</html>